In [ ]:
a = int(input())
num = list(map(int, input().split()))
b = int(input())

count = 0
for i in num:
    if i == b:
        count += 1

print(count)

11
1 4 1 2 4 2 4 2 3 4 4
2
3

In [ ]:
n, x = map(int, input().split())
a = list(map(int, input().split()))
for i in range(n):
  if a[i]<x:
    print(a[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
n = int (input())
a = list(map (int, input().split()))
min_value = min(a)
max_value = max(a)
print (min_value, max_value)

5
20 10 35 30 7
7 35

In [ ]:
numbers = []
for i in range(9):
  numbers.append(int(input()))
  max_num = max(numbers)
  max_index = numbers.index(max_num) + 1
print(max_num)
print(max_index)

3
29
38
12
57
74
40
85
61
85
8

In [7]:
n, m = map(int, input().split())
boxes = [0] * n

for i in range(m):
    a, b, k = map(int, input().split())
    for j in range(a-1, b):
        boxes[j] = k

print(*boxes)

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

In [8]:
n, m = map(int, input().split())
cups = list(range(1, n+1))

for i in range(m):
    a, b = map(int, input().split())
    cups[a-1], cups[b-1] = cups[b-1], cups[a-1]

print(*cups)

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

In [9]:
students = set(range(1, 31))
for i in range(28):
    students.discard(int(input()))
print(*students)

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
29
21
22
23
24
25
26
27
28
29
30
2 8 20

In [10]:
remainders = set()
for i in range(10):
    n = int(input())
    remainders.add(n % 42)
print(len(remainders))

1
2
3
4
5
6
7
8
9
10
10

In [21]:
n, m = map(int, input().split())
baskets = list(range(1, n+1))

for i in range(m):
    first, last = map(int, input().split())
    baskets[first-1:last] = reversed(baskets[first-1:last])

print(' '.join(map(str, baskets)))

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

In [20]:
n = int(input())
scores = list(map(int, input().split()))
max_score = max(scores)
new_scores = [score/max_score*100 for score in scores]
avg_score = sum(new_scores)/n
print(avg_score)

3
40 80 60
75.0